html {
    font-size: 100%;
    background-color: #F2F7F2;
}

body {
    margin: 0;
    
    color: #243B4A;
}

#background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-content{
    position: absolute;
    width: 80%;
    
    text-align: center;
}

#nathan {
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Secular One', sans-serif;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 8vw;
    /* font-weight: 700; */
}

#subtitle {
    margin-bottom: 3em;
}

.background-subtitle {
    
    font-style: italic;
    font-size: 3vw;
    font-weight: 300;
}

.background-text {
    
    font-style: italic;
    font-size: 1.5vw;
}

a {
    color: #243B4A;
}

p {
    font-family: 'Playfair Display', serif;
}

#resume {
    font-weight: 800;
}

#links {
    font-size: 2rem;

}